---
import Main from "../layouts/Main.astro";
---

<Main>
    <a class="socialLinks" href="https://www.youtube.com/channel/UCJ_zspl_Nr0fQXS8jfQncaQ">My youtube channel</a>
    <br>
    <a class="socialLinks" href="https://www.deviantart.com/mayawastaken1234">My deviant art</a>
</Main>