---
import Logo from "../../public/logo.png"
---

<header>
    <h1>
        <div class="profileImage">
            <img src={Logo.src} width="130" height="130" alt="Logo">
        </div>
        Maya Subliminals
    </h1>
</header>