---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import Icon from "../../public/icon.png";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href={Icon.src} type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maya Subliminals</title>
</head>
<body>
    <Header />
    <Navigation />
    <slot />
</body>
</html>